@import url(style.css);


.container-menu-mobile {
    display: none;
}






/* Ecran PC Portable*/
@media (max-width: 1300px) {

    /* Navbar */
    .menu-right {
        gap: 6vw;
    }

    .btn-link-nav {
        font-size: 2vw;
    }

    /* Navbar */


    /* Home */
    .title-home {
        font-size: 5vw;
    }

    .home-text {
        font-size: 3.5vw;
    }

    .nav-anime-hidden {
        height: 0.2vw;
    }
    /* Home */
}

/* Ecran PC Portable*/


/* Ecran Mobile*/
@media (max-width: 770px) {


    /* Menu mobile */
    .navbar {
        display: none;
    }

    .container-menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        color: var(--whitecolor);
        font-size: 4.5vw;
    }

    .container-menu-mobile>* {
        list-style: none;
    }

    .menu-mobile {
        width: 100%;
    }

    .menu-dot-mobile {}

    .link-mobile {
        display: none;
        text-align: center;
    }

    .mobile-link-active {
        display: block;
        text-align: center;
        animation: slide-up 0.3s ease;
    }

    .dot-mobile {
        margin: 1px 0;
        width: 5px;
        height: 5px;
        background-color: grey;
        border-radius: 15px;
    }

    .mobile-dot-active {
        background-color: var(--whitecolor);
        animation: slide-up 0.3s ease;
    }

    /* Menu mobile */


    /* Home */
    .title-home {
        font-size: 6vw;
    }

    .home-text {
        font-size: 5.5vw;
    }

    .nav-anime-hidden {
        height: 0.2vw;
    }
    /* Home */


    /* Animation menu mobile */
    @keyframes slide-up {
        0% {
            transform: scale(0.6);
        }

        100% {
            transform: scale(1);
        }
    }

    /* Animation menu mobile */
}

/* Ecran Mobile */