/* base CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}





:root {
    --beige-bg: #bea378;
    --beige-bg-light: #F3D29E;
    --whitecolor: #f8f9fa;
    --brown-bg: #33312c;
    --brown-bg-mid: #4e4b44;
    --brown-bg-light: #44413b;
}

body {
    margin: 0px;
    font-family: ChillaxM;
}

main {
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    scroll-behavior: smooth;
}

section {
    scroll-behavior: smooth;
}

.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

h3 {
    letter-spacing: 1.5px;
}

/* base CSS */


/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* scrollbar */
















/* Fonts */
@font-face {
    font-family: Chillax;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf);
}

@font-face {
    font-family: ChillaxM;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf);
}

@font-face {
    font-family: ChillaxS;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Semibold.otf);
}

@font-face {
    font-family: Bosch;
    src: url(fonts/Bosch-Display-Font/OTF-File/Bosch.otf);
}

/* Fonts */























/* Début Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
    height: 3.5rem;
}

.menu {
    display: flex;
    height: auto;
    list-style: none;
}

.start>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-right {
    gap: 6rem;
}

.menu-right>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn-link-nav {
    font-size: x-large;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--whitecolor);
}

.nav-anime-hidden {
    opacity: 0;
    background-color: var(--whitecolor);
    width: 60%;
    height: 3px;
    border-radius: 15px;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.nav-anime-active {
    margin-top: 0.3rem;
    opacity: 1;
    transition-delay: 0s;
    transform: scaleX(100%);
}

/* Fin Navbar */













/* Début Home */
.home {
    width: auto;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: var(--whitecolor);
    background-color: var(--brown-bg);
}

.title-home {
    margin: 0;
    width: auto;
    font-size: 80px;
    letter-spacing: 9px;
    font-family: bosch;
    text-shadow: 13px 14px 8px rgba(0, 0, 0, 0.6);
}

.home-text {
    margin: 0;
    width: auto;
    font-size: 50px;
    letter-spacing: 3px;
    color: var(--beige-bg);
    text-shadow: 13px 14px 8px rgba(0, 0, 0, 0.6);
    font-family: ChillaxM;
}

/* Fin Home */




















/* Debut Competences */
.competences {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--brown-bg-light);
}

.bloc-techno {
    gap: 0.2rem;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ligne-techno {
    padding: 1rem;
    gap: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    background-color: var(--brown-bg-mid);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.ligne-top {
    border-radius: 15px;
}

.ligne-mid {
    border-radius: 0 0 15px 15px;
}

.ligne-bot {
    border-radius: 0 0 15px 15px;
}

.titre-techno {
    height: auto;
    width: auto;
    font-size: medium;
    color: var(--beige-bg-light);
}

.techno {
    gap: 0.3rem;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    color: var(--whitecolor);
    transition: transform .3s;
}

.fa-brands {
    font-size: 2rem;
}

.fa-solid {
    font-size: 2rem;
}

.svg-icon {
    width: 2rem;
}

.techno:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

.text-techno:hover {
    cursor: default;
}

.bloc-skill {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 1rem;
}

.ligne-skill {
    padding: 1rem;
    width:  18rem;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 15px;
    background-color: var(--brown-bg-mid);
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.titre-skill {
    width: auto;
    height: auto;
    font-size: 1.1rem;
    color: var(--beige-bg-light);
}

.box-skill {
    height: auto;
}

.skill {
    width: auto;
    margin: 0.6rem 0;
    font-size: medium;
    list-style: none;
    color: var(--whitecolor);
    transition: transform .3s;
    cursor: default;
}

.skill:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

/* Fin Competences */









/* Debut Profil */
.profil {
    padding: 4rem 15rem;
    color: var(--whitecolor);
    background-color: var(--brown-bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    overflow: hidden;
}

.photo {
    width: auto;
    height: 23rem;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.bloc-text {
    width: auto;
    height: auto;
    font-size: medium;
    line-height: 2rem;
    color: var(--whitecolor);
}

.profil-strong {
    color: var(--beige-bg-light);
    letter-spacing: 1.2px;
}

/* Fin Profil */

















/* Début Projet */
.projets {
    color: var(--whitecolor);
    background-color: var(--brown-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    overflow: hidden;
}

.titre-temp {
    color: var(--whitecolor);
}

/* Fin Projet */


/* Début Contact */
.contact {
    align-items: center;
    background-color: var(--brown-bg);
}

.container-form {
    padding: 15px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: var(--brown-bg-mid);
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.container-email-tel-form {
    display: flex;
    width: auto;
    gap: 1rem;
}

.container-msg-form {
    width: auto;
}

.container-btn-form {
    display: flex;
    justify-content: center;
    width: auto;
}

.input-contact {
    width: auto;
    height: 4rem;
    padding: 15px;
    border-radius: 15px;
    font-family: ChillaxM;
    color: var(--brown-bg);
    font-size: large;
}

.input-msg {
    width: 100%;
    height: 10rem;
}

.btn-form {
    padding: 0.5rem 1rem;
    background-color: var(--brown-bg-mid);
    border: solid var(--beige-bg);
    border-radius: 15px;
    color: var(--whitecolor);
    font-family: ChillaxM;
    font-size: large;
    cursor: pointer;
}

/* Fin Contact */































/* ------------------------------------------------------------------------------------- Reponsive ------------------------------------------------------------------------------------------------------ */


/* Navbar Mobile */
.container-menu-mobile {
    display: none;
}
/* Navbar Mobile */

/* ----------------------- Ecran Pc Portable ----------------------- */
@media (min-width: 1440px) {
    .bloc-techno-mobile {
        display: none;
    }
}


/* Ecran PC Portable*/
@media (max-width: 1440px) {

    .bloc-techno-mobile {
        display: none;
    }

    /* Navbar */
    .navbar {
        padding: 0 3.5vw;
    }

    .menu-right {
        gap: 3.5vw;
    }

    .btn-link-nav {
        font-size: 1.5vw;
    }

    /* Navbar */


    /* Home */
    .title-home {
        font-size: 5vw;
    }

    .home-text {
        font-size: 3vw;
    }

    .nav-anime-hidden {
        height: 0.2vw;
    }

    /* Home */






    /* Compétences */    
    /* Compétences */






    /* Profil */
    .profil {
        padding: 0 5rem;
        gap: 5rem;
    }

    .bloc-text {
        width: auto;
        height: auto;
        font-size: small;
        line-height: 2rem;
    }

    .photo {
        width: auto;
        height: 17rem;
    }
    /* Profil */

}

/* ----------------------- Ecran Pc Portable ----------------------- */


/* ----------------------- Ecran Mobile ----------------------- */
@media (max-width: 900px) {


    /* Navbar mobile */
    .navbar {
        display: none;
    }

    .container-menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        color: var(--whitecolor);
        font-size: large;
    }

    .container-menu-mobile>* {
        list-style: none;
    }

    .menu-mobile {
        width: 100%;
    }

    .link-mobile {
        display: none;
        text-align: center;
    }

    .mobile-link-active {
        display: block;
        text-align: center;
        animation: slide-up 0.3s ease;
    }

    .dot-mobile {
        margin: 1px 0;
        width: 5px;
        height: 5px;
        background-color: grey;
        border-radius: 15px;
    }

    .mobile-dot-active {
        background-color: var(--whitecolor);
        animation: slide-up 0.3s ease;
    }

    /* Navbar mobile */


    /* Home */
    /* Home */


    /* Animation menu mobile */
    @keyframes slide-up {
        0% {
            transform: scale(0.6);
        }

        100% {
            transform: scale(1);
        }
    }

    /* Animation menu mobile */










    /* Compétences */
    .competences {
        padding: 4rem 1rem;
        gap: 1rem;
        justify-content: center;
    }

    .bloc-techno {
        display: none;
    }

    .bloc-techno-mobile {
        padding: 1rem 0;
        height: auto;
        background-color: var(--brown-bg-mid);
        color: var(--whitecolor);
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 9px;
        -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    }

    .techno-mobile {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin: 0;
        padding: 0;
        text-align: center;
        width: auto;
    }

    .fa-brands {
        font-size: xx-large;
    }

    .fa-solid {
        font-size: xx-large;
    }

    .svg-icon {
        width: 2rem;
    }

    .text-techno-mobile {
        font-size: small;
    }

    .bloc-skill {
        margin: 0;
        width: auto;
        height: auto;
        gap: 1rem;
    }

    .ligne-skill {
        height: auto;
        width: 100%;
    }

    .titre-skill {
        margin-bottom: 0;
        font-size: small;
    }

    .skill {
        margin: 0.5rem 0;
        font-size: 11px;
        transition: none;
    }

    .skill:hover {
        transform: none;
        -webkit-transform: none;
    }

    /* Compétences */







    /* Profil */
    .profil {
        padding: 4rem 1.5rem;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    
    .photo {
        height: 11rem;
    }

    .bloc-text {
        width: auto;
        height: auto;
        font-size: small;
        line-height: 1.5rem;
        color: var(--whitecolor);
    }    
    /* Profil */


    /* Contact */
    .contact {
        padding: 4rem;
    }

    .container-email-tel-form {
        flex-direction: column;
    }
    /* Contact */

}

/* ----------------------- Ecran Mobile ----------------------- */



/* ------------------------------------------------------- Reponsive -------------------------------------------------------------------- */





























/* ----------------------------------------- Animation --------------------------------------------------- */
.blur-base-hidden {
    opacity: 0;
    filter: blur(30px);
    transform: scale(0.8);

}

.blur-base-show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: all .6s ease-out;
}


/* ---------------- */
@media (min-width: 1000px) {

    .scale-base-hidden {
        opacity: 0;
        transform: scale(0.9);

    }

    .scale-base-show {
        opacity: 1;
        transform: scale(1);
        transition: all .6s ease-out;
    }


    /* ---------------- */


    .slide-up-top-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-top-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
    }


    /* ---------------- */


    .slide-up-mid-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-mid-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
        transition-delay: 0.20s;
    }


    /* ---------------- */


    .slide-up-bot-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-bot-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
        transition-delay: 0.40s;
    }


    /* ---------------- */


    .slide-up-skill-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-skill-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
        transition-delay: 0.60s;
    }
}

/* ----------------------------------------- Animation --------------------------------------------------- */