/* base CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}





:root {
    --beige-bg: #bea378;
    --beige-bg-light: #F3D29E;
    --whitecolor: #f8f9fa;
    --brown-bg: #33312c;
    --brown-bg-mid: #4e4b44;
    --brown-bg-light: #44413b;
}

body {
    margin: 0px;
    font-family: ChillaxM;
}

main {
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    scroll-behavior: smooth;
}

section {
    scroll-behavior: smooth;
}

.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

h3 {
    letter-spacing: 1.5px;
}

span {
    text-align: center;
    color: var(--whitecolor);
}

.btn {
    margin-top: auto;
    padding: 0.5rem 1rem;
    background-color: var(--brown-bg-mid);
    border: solid var(--beige-bg);
    border-radius: 15px;
    color: var(--whitecolor);
    font-family: ChillaxM;
    font-size: large;
    cursor: pointer;
    transition: transform .3s;
}

.btn:hover {
    border-color: var(--beige-bg-light);
    background-color: var(--brown-bg);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

/* base CSS */


/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* scrollbar */
















/* Fonts */
@font-face {
    font-family: Chillax;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf);
}

@font-face {
    font-family: ChillaxM;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf);
}

@font-face {
    font-family: ChillaxS;
    src: url(fonts/Chillax_Complete/Fonts/OTF/Chillax-Semibold.otf);
}

@font-face {
    font-family: Bosch;
    src: url(fonts/Bosch-Display-Font/OTF-File/Bosch.otf);
}

/* Fonts */























/* Début Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    width: 100%;
    height: 3.5rem;
}

.menu {
    display: flex;
    height: auto;
    list-style: none;
}

.start>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-right {
    gap: 6rem;
}

.menu-right>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn-link-nav {
    font-size: x-large;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--whitecolor);
}

.nav-anime-hidden {
    opacity: 0;
    background-color: var(--whitecolor);
    width: 60%;
    height: 3px;
    border-radius: 15px;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.nav-anime-active {
    margin-top: 0.3rem;
    opacity: 1;
    transition-delay: 0s;
    transform: scaleX(100%);
}

/* Fin Navbar */













/* Début Home */
.home {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--whitecolor);
    background-color: var(--brown-bg);
}

.box-home-title {
    align-self: center;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title-home {
    margin: 0;
    width: auto;
    font-size: 70px;
    font-family: bosch;
    text-shadow: 13px 14px 8px rgba(0, 0, 0, 0.6);
}

#hero-title {
    cursor: default;
}

#hero-title span {
    display: inline-block;
    transition: transform 0.1s;

}

#hero-title span:hover {
    transform: scale(1.5);
}

.home-text {
    margin: 0;
    width: auto;
    text-shadow: 13px 14px 8px rgba(0, 0, 0, 0.6);
    font-family: ChillaxM;
}

#hero-sub-title {
    font-size: 40px;
    cursor: default;
}

#hero-sub-title span {
    display: inline-block;
    transition: transform 0.1s;
    color: var(--beige-bg);
}

#hero-sub-title span:hover {
    transform: scale(1.5);
}


.box-home-arrow {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
}

.mouse {
    width: 40px;
    height: 60px;
    border: 4px solid #ffffff;
    border-radius: 60px;
    box-shadow: 5px 9px 13px rgba(0, 0, 0, 0.6);
}

.mouse::before {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 20%;
    background: #ffffff;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: jumpInfinite 2s infinite;
    transition-delay: 1s;
}

@keyframes jumpInfinite {
    0% {
        top: 20%;
    }

    10% {
        top: 55%;
    }

    20% {
        top: 60%;
    }

    30% {
        top: 55%;
    }

    35% {
        top: 45%;
    }

    45% {
        top: 55%;
    }

    65% {
        top: 60%;
    }

    75% {
        top: 55%;
    }

    100% {
        20%
    }
}

/* Fin Home */




















/* Debut Competences */
.competences {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--brown-bg-light);
}

.bloc-techno {
    gap: 0.2rem;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ligne-techno {
    padding: 1rem;
    gap: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    background-color: var(--brown-bg-mid);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.ligne-top {
    border-radius: 15px;
}

.ligne-mid {
    border-radius: 0 0 15px 15px;
}

.ligne-bot {
    border-radius: 0 0 15px 15px;
}

.titre-techno {
    height: auto;
    width: auto;
    font-size: medium;
    color: var(--beige-bg-light);
}

.techno {
    gap: 0.3rem;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    color: var(--whitecolor);
    transition: transform .3s;
}

.fa-brands {
    font-size: 2rem;
}

.fa-solid {
    font-size: 2rem;
}

.svg-icon {
    width: 2rem;
}

.techno:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

.text-techno:hover {
    cursor: default;
}

.bloc-skill {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 1rem;
}

.ligne-skill {
    padding: 1rem;
    width: 18rem;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 15px;
    background-color: var(--brown-bg-mid);
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.titre-skill {
    width: auto;
    height: auto;
    font-size: 1.1rem;
    color: var(--beige-bg-light);
}

.box-skill {
    height: auto;
}

.skill {
    width: auto;
    margin: 0.6rem 0;
    font-size: medium;
    list-style: none;
    color: var(--whitecolor);
    transition: transform .3s;
    cursor: default;
}

.skill:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
}

/* Fin Competences */



























/* Début Projet */
.projets {
    color: var(--whitecolor);
    background-color: var(--brown-bg);
}

.projet-desktop {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider__nav {
    width: 1.4rem;
    height: 1.4rem;
    margin: 2rem 1.2rem;
    border-radius: 50%;
    z-index: 10;
    outline: 0.6rem solid #ccc;
    outline-offset: -60px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.container-projet {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.container-projet {
    left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.container-projet {
    left: -200%;
}

.container-projet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.box-projet {
    height: auto;
    gap: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.bloc-projet {
    padding: 1rem;
    width: 23vw;
    height: 35rem;
    gap: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--brown-bg-mid);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    transition: transform .3s;
}

.bloc-projet:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.projet-information {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 7rem;
    height: 7rem;
    border-radius: 15px;
}

.list-titre {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.entreprise {
    color: var(--beige-bg-light);
    font-size: 1.3rem;
}

.poste {
    color: var(--whitecolor);
    font-size: 1rem;
}

.date {
    color: var(--beige-bg);
    font-size: 0.9rem;
}

.projet-champ-lien {
    color: var(--whitecolor);
    font-size: 0.9rem;
}

.fa-link {
    font-size: medium;
}

.projet-link {
    color: var(--whitecolor);
    font-size: 0.9rem;
    text-underline-offset: 3px;
}

.projet-description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: medium;
    color: #F0F0F0;
}

/* Fin Projet */









/* Debut Profil */
.profil {
    padding: 4rem 15rem;
    color: var(--whitecolor);
    background-color: var(--brown-bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    overflow: hidden;
}

.photo {
    width: auto;
    height: 23rem;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.bloc-text {
    width: auto;
    height: auto;
    font-size: medium;
    line-height: 2rem;
    color: var(--whitecolor);
}

.profil-strong {
    color: var(--beige-bg-light);
    letter-spacing: 1.2px;
}

/* Fin Profil */






/* Début Contact */
.contact {
    flex-direction: column;
    justify-content: center;
    background-color: var(--brown-bg);
    position: relative;
}

.contact-start {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.contact-end {
    padding: 1rem 0;
    position: absolute;
    bottom: 0%;
    height: auto;
    width: 100%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    padding: 1.8rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: var(--brown-bg-mid);
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
}

.container-email-tel-form {
    display: flex;
    width: auto;
    gap: 1rem;
}

.container-msg-form {
    width: auto;
}

.container-btn-form {
    display: flex;
    justify-content: center;
    width: auto;
}

.input-contact {
    width: auto;
    height: 4rem;
    padding: 15px;
    border-radius: 15px;
    font-family: ChillaxM;
    color: var(--brown-bg);
    font-size: large;
    transition: transform .3s;
}

.input-top:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
}

.input-msg {
    width: 100%;
    height: 10rem;
}

.input-msg:hover {
    transform: scale(1.015);
    -webkit-transform: scale(1.015);
}



.contact-link {
    /* padding-bottom: 8rem; */
    height: auto;
    display: flex;
    gap: 5rem;
    flex-direction: row;
}

.contact-icon {
    font-size: 2.7rem;
    color: var(--whitecolor);
    transition: transform .3s;
}

.contact-icon:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/* Fin Contact */































/* ------------------------------------------------------------------------------------- Reponsive ------------------------------------------------------------------------------------------------------ */


/* Navbar Mobile */
.container-menu-mobile {
    display: none;
}

.projet-mobile {
    display: none;
}

/* Navbar Mobile */

/* ----------------------- Ecran Pc Portable ----------------------- */
@media (min-width: 1599px) {
    .bloc-techno-mobile {
        display: none;
    }
}


/* Ecran PC Portable*/
@media (max-width: 1599px) {

    .bloc-techno-mobile {
        display: none;
    }

    /* Navbar */
    .navbar {
        padding: 0 3.5vw;
    }

    .menu-right {
        gap: 3.5vw;
    }

    .btn-link-nav {
        font-size: 1.5vw;
    }

    /* Navbar */


    /* Home */
    .title-home {
        font-size: 5vw;
    }

    .home-text {
        font-size: 3vw;
    }

    .nav-anime-hidden {
        height: 0.2vw;
    }

    /* Home */






    /* Compétences */
    /* Compétences */


    /* Projet */
    .box-projet {
        gap: 2rem;
    }

    .bloc-projet {
        padding: 1rem;
        width: 30vw;
        height: 28rem;
        gap: 2rem;

    }


    .projet-information {}

    .logo {
        width: 5rem;
        height: 5rem;
        border-radius: 15px;
    }

    .list-titre {}

    .entreprise {
        font-size: small;
    }

    .poste {
        font-size: small;
    }

    .date {
        font-size: small;
    }

    .projet-champ-lien {
        font-size: small;
    }

    .projet-link {
        font-size: small;
    }

    .projet-description {
        justify-content: space-between;
        font-size: small;
    }



    /* Projet */




    /* Profil */
    .profil {
        padding: 0 10rem;
        gap: 4rem;
    }

    .bloc-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: auto;
        height: auto;
        font-size: medium;
        line-height: 1.7rem;
    }

    .photo {
        width: auto;
        height: 17rem;
    }

    /* Profil */

    /* Contact */

    /* Contact */

}



@media (max-width: 1200px) {

    /* Home */
    #hero-title span {
        font-size: 2.8rem;
        transition: none;
    }

    #hero-title span:hover {
        transform: none;
    }

    #hero-sub-title {
        font-size: 2rem;
    }

    #hero-sub-title span {
        transition: none;
    }

    #hero-sub-title span:hover {
        transform: none;
    }

    .mouse {
        width: 30px;
        height: 40px;
        border: 3px solid #ffffff;
        border-radius: 60px;
        box-shadow: 5px 9px 13px rgba(0, 0, 0, 0.6);
    }

    .mouse::before {
        width: 5px;
        height: 5px;
        position: absolute;
        top: 20%;
        background: #ffffff;
        transform: translateX(-50%);
        border-radius: 50%;
        opacity: 1;
        animation: jumpInfinite 2s infinite;
        transition-delay: 1s;
    }

    /* Home */




    /* Projet */
    .bloc-projet {
        height: 30rem;
    }

    .entreprise {
        font-size: x-small;
    }

    .poste {
        font-size: x-small;
    }

    .date {
        font-size: x-small;
    }

    .fa-link {
        font-size: x-small;
    }

    .projet-champ-lien {
        font-size: x-small;
    }

    .projet-link {
        font-size: x-small;
    }

    .projet-description {
        justify-content: space-between;
        font-size: x-small;
    }

    .slider__nav {
        width: 1rem;
        height: 1rem;
        margin: 2rem 0.6rem;
        border-radius: 50%;
        z-index: 10;
        outline: 0.4rem solid #ccc;
        outline-offset: -60px;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    /* Projet */

    /* Profil */
    .profil {
        gap: 3rem;
    }

    .bloc-text {
        display: flex;
        flex-direction: column;
        line-height: 1.7rem;
        gap: 2rem;
        font-size: 0.9rem;
    }

    /* Profil */

    /* Début Contact */

    .contact-end {
        padding: 1rem 0;
        bottom: 0%;
        width: 100%;
        gap: 5rem;
    }

    .container-form {
        padding: 1.8rem;
        gap: 1rem;
    }

    .container-email-tel-form {
        gap: 1rem;
    }

    .container-msg-form {
        width: auto;
    }

    .container-btn-form {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .input-contact {
        width: auto;
        height: 3rem;
        padding: 15px;
        border-radius: 15px;
        font-family: ChillaxM;
        color: var(--brown-bg);
        font-size: small;
        transition: transform .3s;
    }

    .input-msg {
        width: 100%;
        height: 6rem;
    }

    .input-msg:hover {
        transform: scale(1.015);
        -webkit-transform: scale(1.015);
    }

    .btn {
        font-size: small;
    }

    .contact-link {
        height: auto;
        display: flex;
        gap: 5rem;
        flex-direction: row;
    }

    .contact-icon {
        font-size: 2.3rem;
        color: var(--whitecolor);
        transition: transform .3s;
    }

    .copyright {
        font-size: x-small;
    }

    /* Fin Contact */

}

/* ----------------------- Ecran Pc Portable ----------------------- */


/* ----------------------- Ecran Mobile ----------------------- */
@media (max-width: 900px) {


    .projet-desktop {
        display: none;
    }

    /* Navbar mobile */
    .navbar {
        display: none;
    }

    .container-menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        color: var(--whitecolor);
        font-size: large;
    }

    .container-menu-mobile>* {
        list-style: none;
    }

    .menu-mobile {
        width: 100%;
    }

    .link-mobile {
        display: none;
        text-align: center;
    }

    .mobile-link-active {
        display: block;
        text-align: center;
        animation: slide-up 0.3s ease;
    }

    .dot-mobile {
        margin: 1px 0;
        width: 5px;
        height: 5px;
        background-color: grey;
        border-radius: 15px;
    }

    .mobile-dot-active {
        background-color: var(--whitecolor);
        animation: slide-up 0.3s ease;
    }

    /* Navbar mobile */


    /* Home */
    #hero-title {
        font-size: x-large;
    }

    #hero-title span {
        font-size: 1.7rem;
    }

    #hero-sub-title {
        font-size: small;
    }

    #hero-sub-title span {
        font-size: 1.5rem;
    }

    /* Home */












    /* Compétences */
    .competences {
        margin: 0;
        padding: 4rem 1rem;
        gap: 1rem;
    }

    .bloc-techno {
        display: none;
    }

    .bloc-techno-mobile {
        padding: 1rem 0;
        height: auto;
        background-color: var(--brown-bg-mid);
        color: var(--whitecolor);
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 9px;
        -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.55);
    }

    .techno-mobile {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin: 0;
        padding: 0;
        text-align: center;
        width: auto;
    }

    .fa-brands {
        font-size: xx-large;
    }

    .fa-solid {
        font-size: xx-large;
    }

    .svg-icon {
        width: 2rem;
    }

    .text-techno-mobile {
        font-size: small;
    }

    .bloc-skill {
        margin: 0;
        width: auto;
        height: auto;
        gap: 1rem;
    }

    .ligne-skill {
        height: auto;
        width: 100%;
    }

    .titre-skill {
        margin-bottom: 0;
        font-size: small;
    }

    .skill {
        margin: 0.5rem 0;
        font-size: 11px;
        transition: none;
    }

    .skill:hover {
        transform: none;
        -webkit-transform: none;
    }

    /* Compétences */



    /* Projet */
    .projet {}

    .slider__nav {
        margin: 2rem 0.7rem;
    }

    .projet-mobile {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;

    }

    .container-projet-mobile {
        width: 800%;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-padding: 0;
    }



    .box-projet {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    .bloc-projet {
        width: 23rem;
        height: 35rem;
        display: flex;
    }

    .bloc-projet:hover {
        transform: none;
        -webkit-transform: none;
    }

    .logo {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 15px;
    }

    .list-titre {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
    }

    .entreprise {
        font-size: small;
    }

    .poste {
        font-size: small;
    }

    .date {
        font-size: small;
    }

    .projet-champ-lien {
        font-size: small;
    }

    .fa-link {
        font-size: small;
    }

    .projet-link {
        font-size: small;
    }

    .projet-description {
        justify-content: space-around;
        line-height: 1.5rem;
        font-size: small;
    }


    .indicator-container {
        position: absolute;
        bottom: -197%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 8px;
    }

    /* Style des cercles */
    .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ddd;
        transition: background-color 0.3s ease;
    }

    /* Cercle actif */
    .indicator.active {
        border: solid 1px var(--beige-bg);
        background-color: var(--brown-bg-mid);
    }

    /* Projet */






    /* Profil */
    .profil {
        padding: 1rem 1.5rem;
        flex-direction: column-reverse;
        display: flex;
        gap: 20rem;
    }

    .photo {
        width: 90px;
        height: 150px;
    }

    .profil-strong {
        font-size: medium;
    }

    .bloc-text {
        gap: 2rem;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        font-size: medium;
        line-height: 1.5rem;
        color: var(--whitecolor);
    }

    @media (min-height: 900px) {

        .photo {
            width: 110px;
            height: 200px;
        }

        .profil {
            gap: 2rem;
        }

        .bloc-text {
            font-size: large;
            line-height: 1.7rem;
        }

        .profil-strong {
            font-size: large;
        }
    }


    @media (max-height: 700px) {

        .profil {
            padding: 1rem 1.5rem;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: end;
            gap: 2rem;
        }

        .photo {
            width: 70px;
            height: 130px;
        }

        .bloc-text {
            gap: 1rem;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            font-size: 0.9rem;
            line-height: 1.5rem;
            color: var(--whitecolor);
        }

        .profil-strong {
            font-size: small;
        }
    }

    /* Profil */


    /* Contact */
    .contact {
        justify-content: center;
    }

    .container-email-tel-form {
        flex-direction: column;
    }

    .contact-start {
        height: auto;
    }

    .contact-end {
        gap: 5rem;

    }

    .contact-icon {
        transition: none;
    }

    .contact-icon:hover {
        transform: none;
    }

    .copyright {
        font-size: x-small;
    }

    /* Contact */

}

/* ----------------------- Ecran Mobile ----------------------- */



/* ------------------------------------------------------- Reponsive -------------------------------------------------------------------- */





























/* ----------------------------------------- Animation --------------------------------------------------- */
.blur-base-hidden {
    opacity: 0;
    filter: blur(30px);
    transform: scale(0.8);

}

.blur-base-show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: all .6s ease-out;
}


/* ---------------- */
@media (min-width: 1000px) {

    .scale-base-hidden {
        opacity: 0;
        transform: scale(0.9);

    }

    .scale-base-show {
        opacity: 1;
        transform: scale(1);
        transition: all .6s ease-out;
    }


    /* ---------------- */


    .slide-up-top-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-top-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
    }


    /* ---------------- */


    .slide-up-mid-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-mid-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
        transition-delay: 0.20s;
    }


    /* ---------------- */


    .slide-up-bot-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-bot-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
        transition-delay: 0.40s;
    }


    /* ---------------- */


    .slide-up-skill-hidden {
        opacity: 0;
        transform: scale(0.6);

    }

    .slide-up-skill-show {
        opacity: 1;
        transform: scale(1);
        transition: all 0.6s ease-out;
        transition-delay: 0.60s;
    }
}

@-webkit-keyframes check {
    50% {
        outline-color: var(--brown-bg-mid);
        border: solid 8px var(--beige-bg-light);
    }

    100% {
        outline-color: var(--brown-bg-mid);
        border: solid 8px var(--beige-bg-light);
    }
}

@keyframes check {
    50% {
        outline-color: var(--brown-bg-mid);
        border: solid 8px var(--beige-bg-light);
    }

    100% {
        outline-color: var(--brown-bg-mid);
        border: solid 8px var(--beige-bg-light);
    }
}




/* Animation Navbar mobile */
@keyframes slide-up {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

/* Animation Navbar mobile */

/* ----------------------------------------- Animation --------------------------------------------------- */